body{
    color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather',serif;
}


h1{
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: "Sacramento",cursive;
    color: #66BFBF;
}
h1:hover{
    color: black;
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;

}
h2:hover{
    color: #40514E;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: #66BFBF;
    margin-bottom: 10px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.top-container{
    
    background-color: #c6ede6;
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}
.profile{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}
.photo{
    width: 25%;
    float: left;
    margin-right: 30px;
}



.top-cloud{
    position: absolute;
    right: 420px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}
.chill{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.comp{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.middle-container{
    background-color:white;

}
.bottom-container{
    background-color: #66BFBF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-justify: inherit;
    font-weight: normal;
    font-size: 20px;
    padding-right: 50px 5px 50px;
}
a{
    color: wheat;
    text-decoration: none;
    margin: 10px 20px 100px;
}
a:hover{
    color: white;
}
.fa {
    border-radius: 50%;
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
      
  }
.fa-twitter {
    background: #cfaf3c;
    color: white;
  }
  
.copyright{
    word-spacing: 100px;
}
.photo{
    margin-top: 100% auto 100% auto;
}
.button {
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(26, 208, 232);
    border: none;
    forced-color-adjust: white;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 45px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  } 